<div [@routerTransition]>
    <app-page-header [heading]="'Transactions'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Transaction List</div>
                <table class="card-block table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Amount</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Description</th>
                        <th>Status Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of table_data">
                        <td>{{ data.transaction_id }}</td>
                        <td>{{ data.order_id }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.createdAt }}</td>
                        <td>{{ data.updatedAt }}</td>
                        <td>{{ data.amount }}</td>
                        <td>{{ data.billing_name }}</td>
                        <td>{{ data.billing_email }}</td>
                        <td>{{ data.billing_mobile }}</td>
                        <td>{{ data.billing_address }}</td>
                        <td>{{ data.billing_info }}</td>
                        <td>{{ data.status_description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
