<div [@routerTransition]>
    <app-page-header [heading]="'Settings'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">
            <h4>Payment URL Settings</h4>
            <hr>

            <form role="form">
                <fieldset class="form-group">
                    <label><strong>Callback URL</strong></label>
                    <input class="form-control" value="{{callback_url}}">
                    <p class="help-block">Example: <em>https://yoursite.com.my/callback.php</em></p>
                </fieldset>
                <fieldset class="form-group">
                    <label><strong>Return URL</strong></label>
                    <input class="form-control" name="return_url" [(ngModel)]="return_url" value="{{return_url}}">
                    <p class="help-block">Example: <em>https://yoursite.com.my/return.php</em></p>
                </fieldset>
                <button type="submit" class="btn btn-primary">Save Settings</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
